# MSU Deterministic Model

In [1]:
import numpy as np
import pandas as pd

from classes.geography_processing import Geoprocessing
from classes.model import Model
from classes.scenario import Scenario

In [2]:
# Set up scenario
scenario = Scenario({
    'name': 1,
    'limit_to_england' : True
})

# Process and save geographic data (only needed when hospital data changes)
geo = Geoprocessing(); geo.run()

# Set up model
model = Model(
    scenario=scenario,
    geodata=pd.read_csv('processed_data/processed_data.csv'))

# Run model
model.run()

In [3]:
model.full_results.head().T

LSOA                         Adur 001A Adur 001B Adur 001C Adur 001D Adur 001E
nearest_ivt_unit                BN25BE    BN25BE   BN112DH   BN112DH   BN112DH
nearest_ivt_time                  17.6      18.7      17.6      17.6      16.5
nearest_mt_unit                 BN25BE    BN25BE    BN25BE    BN25BE    BN25BE
nearest_mt_time                   17.6      18.7      19.8      19.8      19.8
transfer_unit                   BN25BE    BN25BE    BN25BE    BN25BE    BN25BE
...                                ...       ...       ...       ...       ...
lvo_msu_mt_utility_shift      0.141147  0.139839  0.138531  0.138531  0.138531
lvo_msu_ivt_mt_mrs_0-2         0.41385  0.412445  0.411041  0.411041  0.411041
lvo_msu_ivt_mt_mrs_shift     -0.707472 -0.700466 -0.693469 -0.693469 -0.693469
lvo_msu_ivt_mt_utility        0.473757  0.472449  0.471141  0.471141  0.471141
lvo_msu_ivt_mt_utility_shift  0.141147  0.139839  0.138531  0.138531  0.138531

[71 rows x 5 columns]

In [4]:
model.full_results.describe().T

,count,mean,std,min,25%,50%,75%,max
nearest_ivt_time,32843.0,19.506062,8.296385,5.800000,13.300000,17.600000,24.100000,74.500000
nearest_mt_time,32843.0,34.009956,19.658634,5.800000,19.800000,29.400000,43.400000,134.700000
transfer_time,32843.0,26.528521,23.426822,0.000000,0.000000,27.300000,40.200000,117.500000
nearest_msu_time,32843.0,34.526197,19.828598,5.800000,19.800000,29.400000,44.500000,134.700000
Admissions,32843.0,2.466063,1.418715,0.100000,1.333333,2.333333,3.333333,19.333333
...,...,...,...,...,...,...,...,...
lvo_msu_mt_utility_shift,31019.0,0.121701,0.023286,0.008150,0.110682,0.127154,0.138531,0.155226
lvo_msu_ivt_mt_mrs_0-2,31019.0,0.393176,0.024566,0.291361,0.381301,0.398851,0.411041,0.429010
lvo_msu_ivt_mt_mrs_shift,31019.0,-0.604688,0.122137,-0.783215,-0.693469,-0.632809,-0.545658,-0.100952
lvo_msu_ivt_mt_utility,31019.0,0.454324,0.023230,0.355759,0.443292,0.459764,0.471141,0.487836
lvo_msu_ivt_mt_utility_shift,31019.0,0.121714,0.023230,0.023149,0.110682,0.127154,0.138531,0.155226

In [5]:
model.full_results.to_csv('./output/single_run.csv')