# MSU Deterministic Model

In [1]:
import numpy as np
import pandas as pd

from classes.geography_processing import Geoprocessing
from classes.model import Model
from classes.scenario import Scenario

In [2]:
# Set up scenario
scenario = Scenario({
    'name': 1,
    'limit_to_england' : True
})

# Process and save geographic data (only needed when hospital data changes)
geo = Geoprocessing(); geo.run()

# Set up model
model = Model(
    scenario=scenario,
    geodata=pd.read_csv('processed_data/processed_data.csv'))

# Run model
model.run()

In [3]:
model.full_results.head().T

LSOA                         Adur 001A Adur 001B Adur 001C Adur 001D Adur 001E
nearest_ivt_unit                BN25BE    BN25BE   BN112DH   BN112DH   BN112DH
nearest_ivt_time                  17.6      18.7      17.6      17.6      16.5
nearest_mt_unit                 BN25BE    BN25BE    BN25BE    BN25BE    BN25BE
nearest_mt_time                   17.6      18.7      19.8      19.8      19.8
transfer_unit                   BN25BE    BN25BE    BN25BE    BN25BE    BN25BE
...                                ...       ...       ...       ...       ...
lvo_msu_mt_utility_shift      0.141147  0.139839  0.138531  0.138531  0.138531
lvo_msu_ivt_mt_mrs_0-2         0.41385  0.412445  0.411041  0.411041  0.411041
lvo_msu_ivt_mt_mrs_shift     -0.707472 -0.700466 -0.693469 -0.693469 -0.693469
lvo_msu_ivt_mt_utility        0.473757  0.472449  0.471141  0.471141  0.471141
lvo_msu_ivt_mt_utility_shift  0.141147  0.139839  0.138531  0.138531  0.138531

[71 rows x 5 columns]

In [4]:
model.full_results.describe().T

,count,mean,std,min,25%,50%,75%,max
nearest_ivt_time,32843.0,19.506062,8.296385,5.800000,13.300000,17.600000,24.100000,74.500000
nearest_mt_time,32843.0,34.009956,19.658634,5.800000,19.800000,29.400000,43.400000,134.700000
transfer_time,32843.0,26.528521,23.426822,0.000000,0.000000,27.300000,40.200000,117.500000
nearest_msu_time,32843.0,34.526197,19.828598,5.800000,19.800000,29.400000,44.500000,134.700000
Admissions,32843.0,2.466063,1.418715,0.100000,1.333333,2.333333,3.333333,19.333333
...,...,...,...,...,...,...,...,...
lvo_msu_mt_utility_shift,32843.0,0.121569,0.022867,0.008150,0.110682,0.127154,0.138531,0.155226
lvo_msu_ivt_mt_mrs_0-2,32843.0,0.393029,0.024128,0.291361,0.381301,0.398851,0.411041,0.429010
lvo_msu_ivt_mt_mrs_shift,32843.0,-0.603955,0.119958,-0.783215,-0.693469,-0.632809,-0.545658,-0.100952
lvo_msu_ivt_mt_utility,32843.0,0.454191,0.022814,0.355759,0.443292,0.459764,0.471141,0.487836
lvo_msu_ivt_mt_utility_shift,32843.0,0.121581,0.022814,0.023149,0.110682,0.127154,0.138531,0.155226

In [5]:
model.full_results.to_csv('./output/single_run.csv')

In [6]:
x = model.full_results.copy()
x.info()

<class 'pandas.core.frame.DataFrame'>
Index: 32843 entries, Adur 001A to York 024F
Data columns (total 71 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   nearest_ivt_unit                     32843 non-null  object
 1   nearest_ivt_time                     32843 non-null  float64
 2   nearest_mt_unit                      32843 non-null  object
 3   nearest_mt_time                      32843 non-null  float64
 4   transfer_unit                        32843 non-null  object
 5   transfer_required                    32843 non-null  bool
 6   transfer_time                        32843 non-null  float64
 7   nearest_msu_unit                     32843 non-null  object
 8   nearest_msu_time                     32843 non-null  float64
 9   Admissions                           32843 non-null  float64
 10  England                              32843 non-null  int64
 11  drip_ship_ivt_time                   32843 non-null  float64
 12  drip_ship_mt_time                    32843 non-null  float64
 13  nlvo_no_treatment_mrs_0-2            32843 non-null  float64
 14  nlvo_no_treatment_utility            32843 non-null  float64
 15  lvo_no_treatment_mrs_0-2             32843 non-null  float64
 16  lvo_no_treatment_utility             32843 non-null  float64
 17  nlvo_drip_ship_ivt_mrs_0-2           32843 non-null  float64
 18  nlvo_drip_ship_ivt_mrs_shift         32843 non-null  float64
 19  nlvo_drip_ship_ivt_utility           32843 non-null  float64
 20  nlvo_drip_ship_ivt_utility_shift     32843 non-null  float64
 21  lvo_drip_ship_ivt_mrs_0-2            32843 non-null  float64
 22  lvo_drip_ship_ivt_mrs_shift          32843 non-null  float64
 23  lvo_drip_ship_ivt_utility            32843 non-null  float64
 24  lvo_drip_ship_ivt_utility_shift      32843 non-null  float64
 25  lvo_drip_ship_mt_mrs_0-2             32843 non-null  float64
 26  lvo_drip_ship_mt_mrs_shift           32843 non-null  float64
 27  lvo_drip_ship_mt_utility             32843 non-null  float64
 28  lvo_drip_ship_mt_utility_shift       32843 non-null  float64
 29  lvo_drip_ship_ivt_mt_mrs_0-2         32843 non-null  float64
 30  lvo_drip_ship_ivt_mt_mrs_shift       32843 non-null  float64
 31  lvo_drip_ship_ivt_mt_utility         32843 non-null  float64
 32  lvo_drip_ship_ivt_mt_utility_shift   32843 non-null  float64
 33  mothership_ivt_time                  32843 non-null  float64
 34  mothership_mt_time                   32843 non-null  float64
 35  nlvo_mothership_ivt_mrs_0-2          32843 non-null  float64
 36  nlvo_mothership_ivt_mrs_shift        32843 non-null  float64
 37  nlvo_mothership_ivt_utility          32843 non-null  float64
 38  nlvo_mothership_ivt_utility_shift    32843 non-null  float64
 39  lvo_mothership_ivt_mrs_0-2           32843 non-null  float64
 40  lvo_mothership_ivt_mrs_shift         32843 non-null  float64
 41  lvo_mothership_ivt_utility           32843 non-null  float64
 42  lvo_mothership_ivt_utility_shift     32843 non-null  float64
 43  lvo_mothership_mt_mrs_0-2            32843 non-null  float64
 44  lvo_mothership_mt_mrs_shift          32843 non-null  float64
 45  lvo_mothership_mt_utility            32843 non-null  float64
 46  lvo_mothership_mt_utility_shift      32843 non-null  float64
 47  lvo_mothership_ivt_mt_mrs_0-2        32843 non-null  float64
 48  lvo_mothership_ivt_mt_mrs_shift      32843 non-null  float64
 49  lvo_mothership_ivt_mt_utility        32843 non-null  float64
 50  lvo_mothership_ivt_mt_utility_shift  32843 non-null  float64
 51  msu_ivt_time                         32843 non-null  float64
 52  msu_mt_time                          32843 non-null  float64
 53  msu_occupied_treatment               32843 non-null  float64
 54  msu_occupied_no_treatment            32843 non-null  float64
 55  nlvo_msu_ivt_mrs_0-2                 32843 non-null  float64
 56  nlvo_msu_ivt_mrs_shift               32843 non-null  float64
 57  nlvo_msu_ivt_utility                 32843 non-null  float64
 58  nlvo_msu_ivt_utility_shift           32843 non-null  float64
 59  lvo_msu_ivt_mrs_0-2                  32843 non-null  float64
 60  lvo_msu_ivt_mrs_shift                32843 non-null  float64
 61  lvo_msu_ivt_utility                  32843 non-null  float64
 62  lvo_msu_ivt_utility_shift            32843 non-null  float64
 63  lvo_msu_mt_mrs_0-2                   32843 non-null  float64
 64  lvo_msu_mt_mrs_shift                 32843 non-null  float64
 65  lvo_msu_mt_utility                   32843 non-null  float64
 66  lvo_msu_mt_utility_shift             32843 non-null  float64
 67  lvo_msu_ivt_mt_mrs_0-2               32843 non-null  float64
 68  lvo_msu_ivt_mt_mrs_shift             32843 non-null  float64
 69  lvo_msu_ivt_mt_utility               32843 non-null  float64
 70  lvo_msu_ivt_mt_utility_shift         32843 non-null  float64
dtypes: bool(1), float64(65), int64(1), object(4)
memory usage: 17.8+ MB