In [1]:
import numpy as np
import pandas as pd

from classes.model import Model
from classes.scenario import Scenario

In [2]:

# Scenario overwrites default values
scenario = Scenario({
    "run_duration": 100 * 365,  # days
    "mt_hub_postcodes":['B152TH'],
    "use_msu": False,
    "probability_mt": 0
})

model = Model(scenario)

model.run()

model.results_all.to_csv('./temp/standard_ivt_only.csv')

model.results_summary_all

,time_ambulance_called,time_ambulance_arrival,time_ambulance_leaves_scene,time_admitting_unit_arrival,time_needle,time_transfer_unit_arrival,time_puncture,mRS shift,utility_shift,mRS 0-2
statistic,,,,,,,,,,
mean,60.0,80.0,110.0,129.180858,169.176290,NaN,NaN,-0.399362,0.075046,0.558176
std,0.0,0.0,0.0,7.711060,7.710939,NaN,NaN,0.138940,0.023330,0.172368

In [3]:
from classes.model import Model
from classes.scenario import Scenario


# Scenario overwrites default values
scenario = Scenario({
    "run_duration": 100 * 365,  # days
    "mt_hub_postcodes":['B152TH'],
    "use_msu": False,
    "probability_mt": 0,
    "probability_ivt": 0
})

model = Model(scenario)

model.run()

model.results_all.to_csv('./temp/no_treatment.csv')

model.results_summary_all

,time_ambulance_called,time_ambulance_arrival,time_ambulance_leaves_scene,time_admitting_unit_arrival,time_needle,time_transfer_unit_arrival,time_puncture,mRS shift,utility_shift,mRS 0-2
statistic,,,,,,,,,,
mean,60.0,80.0,110.0,129.157173,NaN,NaN,NaN,0.0,0.0,0.477031
std,0.0,0.0,0.0,7.704917,NaN,NaN,NaN,0.0,0.0,0.147759

In [4]:

# Scenario overwrites default values
scenario = Scenario({
    "run_duration": 100 * 365,  # days
    "mt_hub_postcodes":['B152TH'],
    "use_msu": False,
    "probability_mt": 1
})

model = Model(scenario)

model.run()

model.results_all.to_csv('./temp/standard_ivt_mt.csv')

model.results_summary_all

,time_ambulance_called,time_ambulance_arrival,time_ambulance_leaves_scene,time_admitting_unit_arrival,time_needle,time_transfer_unit_arrival,time_puncture,mRS shift,utility_shift,mRS 0-2
statistic,,,,,,,,,,
mean,60.0,80.0,110.0,129.170155,169.168327,262.038488,281.579775,-0.488240,0.092944,0.576839
std,0.0,0.0,0.0,7.699660,7.705418,18.767591,56.150140,0.101241,0.019157,0.147477

In [5]:

# Scenario overwrites default values
scenario = Scenario({
    "run_duration": 100 * 365,  # days
    "mt_hub_postcodes":['B152TH'],
    "use_msu": True,
    "probability_mt": 0
})

model = Model(scenario)

model.run()

model.results_all.to_csv('./temp/msu_ivt_only.csv')

model.results_summary_all

,time_ambulance_called,time_ambulance_arrival,time_ambulance_leaves_scene,time_admitting_unit_arrival,time_needle,time_transfer_unit_arrival,time_puncture,time_msu_arrival,mRS shift,utility_shift,mRS 0-2
statistic,,,,,,,,,,,
mean,60.0,NaN,NaN,154.299114,122.236814,NaN,NaN,102.231573,-0.498805,0.092556,0.577661
std,0.0,NaN,NaN,19.708120,14.874434,NaN,NaN,14.886306,0.161287,0.026913,0.176017

In [6]:

# Scenario overwrites default values
scenario = Scenario({
    "run_duration": 100 * 365,  # days
    "mt_hub_postcodes":['B152TH'],
    "use_msu": True,
    "probability_mt": 1
})

model = Model(scenario)

model.run()

model.results_all.to_csv('./temp/msu_ivt_mt.csv')

model.results_summary_all

,time_ambulance_called,time_ambulance_arrival,time_ambulance_leaves_scene,time_admitting_unit_arrival,time_needle,time_transfer_unit_arrival,time_puncture,time_msu_arrival,mRS shift,utility_shift,mRS 0-2
statistic,,,,,,,,,,,
mean,60.0,NaN,NaN,156.779215,122.232732,NaN,169.558481,102.246246,-0.678581,0.127689,0.614175
std,0.0,NaN,NaN,22.774709,14.849656,NaN,29.712392,14.877315,0.118036,0.026717,0.123886

In [7]:
msoa = pd.read_csv('./data/lsoa_to_msoa.csv')

In [8]:
model.results_summary_all

,time_ambulance_called,time_ambulance_arrival,time_ambulance_leaves_scene,time_admitting_unit_arrival,time_needle,time_transfer_unit_arrival,time_puncture,time_msu_arrival,mRS shift,utility_shift,mRS 0-2
statistic,,,,,,,,,,,
mean,60.0,NaN,NaN,156.779215,122.232732,NaN,169.558481,102.246246,-0.678581,0.127689,0.614175
std,0.0,NaN,NaN,22.774709,14.849656,NaN,29.712392,14.877315,0.118036,0.026717,0.123886

In [9]:
model.results_summary_by_admitting_unit

                 time_ambulance_called      time_ambulance_arrival      \
                                  mean  std                   mean std
closest_ivt_unit
B152TH                            60.0  0.0                    NaN NaN
B714HJ                            60.0  0.0                    NaN NaN
DY12HQ                            60.0  0.0                    NaN NaN
HR12ER                            60.0  0.0                    NaN NaN
TF16TF                            60.0  0.0                    NaN NaN
WR51DD                            60.0  0.0                    NaN NaN
WV100QP                           60.0  0.0                    NaN NaN

                 time_ambulance_leaves_scene     time_admitting_unit_arrival  \
                                        mean std                        mean
closest_ivt_unit
B152TH                                   NaN NaN                  141.297039
B714HJ                                   NaN NaN                  146.568251
DY12HQ                                   NaN NaN                  145.310028
HR12ER                                   NaN NaN                  202.941296
TF16TF                                   NaN NaN                  176.641341
WR51DD                                   NaN NaN                  169.667334
WV100QP                                  NaN NaN                  154.974403

                            time_needle            ... time_puncture  \
                        std        mean       std  ...          mean
closest_ivt_unit                                   ...
B152TH            11.861441  109.199181  5.793786  ...    143.588950
B714HJ            12.491425  114.216359  5.768319  ...    153.410271
DY12HQ            13.133424  115.261318  6.249622  ...    155.562955
HR12ER            23.884853  158.239345  8.822745  ...    241.674957
TF16TF            19.457726  137.090570  8.898720  ...    199.103727
WR51DD            16.172162  131.402771  7.704363  ...    187.684156
WV100QP           11.436863  121.378626  3.990742  ...    167.740844

                            time_msu_arrival           mRS shift            \
                        std             mean       std      mean       std
closest_ivt_unit
B152TH            11.549978        89.205694  5.802319 -0.726637  0.127702
B714HJ            11.532352        94.210123  5.770938 -0.708279  0.118430
DY12HQ            12.514706        95.255448  6.256502 -0.704224  0.116706
HR12ER            17.805622       138.268666  8.836796 -0.545445  0.049072
TF16TF            17.826066       117.130938  8.916361 -0.623371  0.081053
WR51DD            15.316878       111.390823  7.691181 -0.644637  0.088989
WV100QP            7.994994       101.369008  3.981752 -0.682188  0.103490

                 utility_shift             mRS 0-2
                          mean       std      mean       std
closest_ivt_unit
B152TH                0.136278  0.029280  0.624010  0.118116
B714HJ                0.133024  0.027519  0.620163  0.120142
DY12HQ                0.132293  0.027168  0.619518  0.120552
HR12ER                0.103651  0.013014  0.587447  0.137609
TF16TF                0.117782  0.019965  0.603459  0.129272
WR51DD                0.121634  0.021685  0.607324  0.127104
WV100QP               0.128405  0.024748  0.614191  0.123239

[7 rows x 22 columns]

In [10]:
model.results_all[np.isnan(model.results_all['time_puncture']) == False]

,id,lsoa,stroke_type,closest_ivt_unit,closest_ivt_travel_duration,closest_mt_unit,closest_mt_travel_duration,mt_transfer_unit,mt_transfer_travel_duration,mt_transfer_required,...,time_ambulance_arrival,time_ambulance_leaves_scene,time_admitting_unit_arrival,time_needle,time_transfer_unit_arrival,time_puncture,time_msu_arrival,mRS shift,utility_shift,mRS 0-2
5,6,Sandwell 006B,2,B714HJ,13.3,B152TH,20.8,B152TH,18.7,False,...,NaN,NaN,146.6,110.8,NaN,146.6,90.8,-0.897455,0.176229,0.451733
17,18,Birmingham 079A,2,B152TH,10.1,B152TH,10.1,B152TH,0.0,False,...,NaN,NaN,125.2,100.1,NaN,125.2,80.1,-0.968369,0.189125,0.465732
24,23,Herefordshire 020D,2,HR12ER,26.2,CF144XW,57.4,B152TH,72.4,False,...,NaN,NaN,219.8,147.4,NaN,219.8,127.4,-0.661153,0.132479,0.404550
28,27,Herefordshire 013A,2,HR12ER,9.0,CF144XW,71.3,B152TH,72.4,False,...,NaN,NaN,247.6,161.3,NaN,247.6,141.3,-0.574120,0.116078,0.387036
29,29,Telford and Wrekin 020B,2,TF16TF,15.5,B152TH,44.5,B152TH,46.6,False,...,NaN,NaN,194.0,134.5,NaN,194.0,114.5,-0.743285,0.147819,0.421026
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
631290,631291,Birmingham 030C,2,B714HJ,17.6,B152TH,21.9,B152TH,18.7,False,...,NaN,NaN,148.8,111.9,NaN,148.8,91.9,-0.890210,0.174905,0.450298
631291,631292,Wychavon 004D,2,WR51DD,15.5,B152TH,30.5,B152TH,35.9,False,...,NaN,NaN,166.0,120.5,NaN,166.0,100.5,-0.833858,0.164571,0.439107
631292,631293,Shropshire 025D,2,TF16TF,15.5,B152TH,42.3,B152TH,46.6,False,...,NaN,NaN,189.6,132.3,NaN,189.6,112.3,-0.757421,0.150445,0.423855
631303,631303,Malvern Hills 001B,2,WR51DD,29.4,B152TH,56.3,B152TH,35.9,False,...,NaN,NaN,217.6,146.3,NaN,217.6,126.3,-0.668106,0.133783,0.405948
631304,631305,Shropshire 008A,2,TF16TF,34.8,ST46QG,44.5,B152TH,46.6,False,...,NaN,NaN,194.0,134.5,NaN,194.0,114.5,-0.743285,0.147819,0.421026

In [11]:
model.results_all[np.isnan(model.results_all['time_needle']) == False]

,id,lsoa,stroke_type,closest_ivt_unit,closest_ivt_travel_duration,closest_mt_unit,closest_mt_travel_duration,mt_transfer_unit,mt_transfer_travel_duration,mt_transfer_required,...,time_ambulance_arrival,time_ambulance_leaves_scene,time_admitting_unit_arrival,time_needle,time_transfer_unit_arrival,time_puncture,time_msu_arrival,mRS shift,utility_shift,mRS 0-2
5,6,Sandwell 006B,2,B714HJ,13.3,B152TH,20.8,B152TH,18.7,False,...,NaN,NaN,146.6,110.8,NaN,146.6,90.8,-0.897455,0.176229,0.451733
11,12,Walsall 021D,1,WV100QP,16.5,B152TH,25.1,B152TH,29.4,True,...,NaN,NaN,146.6,115.1,NaN,NaN,95.1,-0.625727,0.113807,0.703146
17,18,Birmingham 079A,2,B152TH,10.1,B152TH,10.1,B152TH,0.0,False,...,NaN,NaN,125.2,100.1,NaN,125.2,80.1,-0.968369,0.189125,0.465732
18,19,Stratford-on-Avon 003D,1,B152TH,31.6,B152TH,31.6,B152TH,0.0,False,...,NaN,NaN,168.2,121.6,NaN,NaN,101.6,-0.610289,0.111149,0.700226
19,20,Dudley 003C,1,DY12HQ,12.2,B152TH,25.1,B152TH,25.1,True,...,NaN,NaN,142.3,115.1,NaN,NaN,95.1,-0.625727,0.113807,0.703146
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
631300,631301,Dudley 036B,1,DY12HQ,15.5,B152TH,16.5,B152TH,25.1,True,...,NaN,NaN,137.0,106.5,NaN,NaN,86.5,-0.646064,0.117299,0.706984
631302,631304,Birmingham 045E,1,B714HJ,25.1,B152TH,26.2,B152TH,18.7,True,...,NaN,NaN,156.3,116.2,NaN,NaN,96.2,-0.623119,0.113359,0.702653
631303,631303,Malvern Hills 001B,2,WR51DD,29.4,B152TH,56.3,B152TH,35.9,False,...,NaN,NaN,217.6,146.3,NaN,217.6,126.3,-0.668106,0.133783,0.405948
631304,631305,Shropshire 008A,2,TF16TF,34.8,ST46QG,44.5,B152TH,46.6,False,...,NaN,NaN,194.0,134.5,NaN,194.0,114.5,-0.743285,0.147819,0.421026
631306,631307,Herefordshire 019E,1,HR12ER,25.1,B152TH,61.6,B152TH,72.4,True,...,NaN,NaN,191.7,151.6,NaN,NaN,131.6,-0.538312,0.098670,0.686542