# MSU Deterministic Model

In [1]:
from classes.geography_processing import Geoprocessing

geo = Geoprocessing()
geo.run()

In [2]:
geo.combined_data.head()

,nearest_ivt_unit,nearest_ivt_time,nearest_mt_unit,nearest_mt _time,transfer_unit,transfer_required,transfer_time,nearest_msu_unit,nearest_msu_time,Admissions,England
LSOA,,,,,,,,,,,
Adur 001A,BN25BE,17.6,BN25BE,17.6,BN25BE,False,0.0,BN25BE,17.6,1.333333,1
Adur 001B,BN25BE,18.7,BN25BE,18.7,BN25BE,False,0.0,BN25BE,18.7,1.666667,1
Adur 001C,BN112DH,17.6,BN25BE,19.8,BN25BE,True,31.6,BN25BE,19.8,2.000000,1
Adur 001D,BN112DH,17.6,BN25BE,19.8,BN25BE,True,31.6,BN25BE,19.8,2.000000,1
Adur 001E,BN112DH,16.5,BN25BE,19.8,BN25BE,True,31.6,BN25BE,19.8,3.666667,1