# MSU Deterministic Model

In [1]:
import numpy as np
import pandas as pd

from classes.geography_processing import Geoprocessing
from classes.model import Model
from classes.scenario import Scenario

In [2]:
# Set up scenario
scenario = Scenario({
    'name': 1,
    'limit_to_england' : False
})

# Process and save geographic data (only needed when hospital data changes)
geo = Geoprocessing(); geo.run()

# Set up model
model = Model(
    scenario=scenario,
    geodata=pd.read_csv('processed_data/processed_data.csv'))

# Run model
model.run()

In [3]:
model.full_results.head().T

LSOA                         Adur 001A Adur 001B Adur 001C Adur 001D Adur 001E
nearest_ivt_unit                BN25BE    BN25BE   BN112DH   BN112DH   BN112DH
nearest_ivt_time                  17.6      18.7      17.6      17.6      16.5
nearest_mt_unit                 BN25BE    BN25BE    BN25BE    BN25BE    BN25BE
nearest_mt_time                   17.6      18.7      19.8      19.8      19.8
transfer_unit                   BN25BE    BN25BE    BN25BE    BN25BE    BN25BE
...                                ...       ...       ...       ...       ...
lvo_msu_mt_utility_shift      0.168053  0.166732  0.165411  0.165411  0.165411
lvo_msu_ivt_mt_mrs_0-2        0.442874  0.441444  0.440016  0.440016  0.440016
lvo_msu_ivt_mt_mrs_shift     -0.852801 -0.845609 -0.838425 -0.838425 -0.838425
lvo_msu_ivt_mt_utility        0.500663  0.499342  0.498021  0.498021  0.498021
lvo_msu_ivt_mt_utility_shift  0.168053  0.166732  0.165411  0.165411  0.165411

[69 rows x 5 columns]

In [4]:
model.full_results.describe().T

,count,mean,std,min,25%,50%,75%,max
nearest_ivt_time,34752.0,19.548181,8.380590,5.800000,13.300000,17.600000,24.100000,74.500000
nearest_mt_time,34752.0,34.939310,20.888881,5.800000,19.800000,29.400000,44.500000,146.500000
transfer_time,34752.0,27.527503,24.469485,0.000000,0.000000,27.300000,42.300000,135.800000
nearest_msu_time,34752.0,35.427193,21.018921,5.800000,20.800000,30.500000,45.500000,146.500000
Admissions,34752.0,2.336090,1.480818,0.100000,1.333333,2.000000,3.000000,19.333333
...,...,...,...,...,...,...,...,...
lvo_msu_mt_utility_shift,34752.0,0.147146,0.024605,0.019635,0.135919,0.152595,0.164211,0.182251
lvo_msu_ivt_mt_mrs_0-2,34752.0,0.420418,0.026281,0.292237,0.408237,0.426173,0.438718,0.458266
lvo_msu_ivt_mt_mrs_shift,34752.0,-0.740595,0.131071,-0.930496,-0.831902,-0.769013,-0.679504,-0.105411
lvo_msu_ivt_mt_utility,34752.0,0.479757,0.024604,0.356593,0.468529,0.485205,0.496821,0.514861
lvo_msu_ivt_mt_utility_shift,34752.0,0.147147,0.024604,0.023983,0.135919,0.152595,0.164211,0.182251